.main-container {
    position: fixed; /* Fixes the position to the viewport */
    top: 0; /* Aligns to the top of the viewport */
    left: 0; /* Aligns to the left of the viewport */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    display: flex; /* Enables flexbox layout */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    z-index: 999; /* Places it above other elements */
    backdrop-filter: blur(5px); /* Applies blur to the background */
  }
  
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height for centering */
    position: relative; /* Set relative positioning for absolute children */
  }
  