.tab-container {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #f1f1f1;
    margin-bottom: 16px;
  }
  .flex {
    display: flex;
    margin-left:100px; 
  }

  .navbar {
    display: flex; 
  }
  
  .sidebar {
    width: 260px;
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .tab-item {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-bottom: none;
    margin-right: 5px;
    color: #333;
    border-radius: 5px 5px 0 0;
  }
  
  .tab-item.active {
    background-color: #7192b4;
    color: white;
    font-weight: bold;
  }
  
  .tab-item:hover {
    background-color: #ddd;
  }
  
  .content-section {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 0 5px 5px 5px;
    width: 100%; 
    margin-left:50px; 
  }
  hr {
    border: none;         
    height: 2px;         
    background-color:white; 
    margin: 20px 0;     
  }